* {
  margin: 0%;
  padding: 0%;
}
div {
  width: 30%;
  margin: auto;
  margin-top: 30vh;
}
form {
  width: 100%;
}
form input {
  width: 100%;
  margin-bottom: 10px;
}

form button {
  width: 100%;
  border-radius: 10px;
}
form div {
  width: 100%;
  margin: auto;
  text-align: center;
  border: 1px solid grey;
  margin-top: 10px;
  border-radius: 10px;
}
a {
  text-decoration: none;
}
